

.container {
    width: min(60em, 100%);
    margin: 1.8em auto;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify; */
    border-radius: 0.8rem;
    border: 3px solid #106ba0;
}
