:root {
	--primario: #242121;
	--secundario: #f8c25c;
	--terciario: #242121;
	--blanco: #f8f3e3;
	--azul: #106ba0;
	--azulOscuro: #06273a;
	--otroGris: #757575;
	--negro: #000000;
	--negrotransparentado: #00000050;
	--botones: #20e2d7;
	--botonesSombraPulso: #20e2d780;

    /* --primario: #242121;
	--secundario: #f8c25c;
	--terciario: #d83863;
	--blanco: #f8f3e3;
	--azul: #106ba0;
	--azulOscuro: #06273a;
	--otroGris: #757575;
	--negro: #000000;
	--negrotransparentado: #00000050;
	--botones: #20e2d7;
	--botonesSombraPulso: #20e2d780; */
}

html {
	box-sizing: border-box; /*para manejar mejor el box model*/
}

/*para manejar mejor el box model*/
*,
*:before,
*:after {
    margin: 0; 
    padding: 0;
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

    height: calc(100vh - 5rem);
    background-image: url(assets/7.jpg);
    background-repeat: repeat;
    background-size: contain;
    background-position: center center;
    background-attachment: fixed;
    background-color: var(--blanco);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
